.box-container {
  border: 1px solid #d8dbe0;
  margin: auto;
  background-color: #fff;
}
.has-error {
  color: red;
}
.required:after {
  content: " *";
  color: red;
}
.btn-dept-color {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none !important;
  margin-top: 15px;
  font-weight: 600;
  min-width: 200px;
  max-width: 200px;
}
.btn-dept-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #d500f9, #ffd54f);
}

.btn-sub-dept-color {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none !important;
  margin-top: 15px;
  font-weight: 600;
  min-width: 110px;
  max-width: 110px;
  font-size: 10px;
}

@media (min-width: 768px) {
  .btn-sub-dept-color {
    min-width: 200px;
    max-width: 200px;
    font-size: 14px;
  }
}

.btn-sub-dept-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #d500f9, #ffd54f);
}
